ul {
    list-style-type: none;
    padding: 0px 10px 10px 10px;
}

li {
    display: inline;
}

ul .navright {
    float: right;
}

li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.603);
    padding: 0px 5px 5px 5px;
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
}

li a:hover {
    text-decoration: underline;
}

#gappsicon {
    margin-right: 50px;
    position: absolute;
    color: lightslategray;
    font-size: 25px;
    padding-bottom: 20px;
}


.navform {
    display: inline;
}

.navform input {
    color: white;
    background-color: rgb(80, 121, 211);
    font-weight: bolder;
    height: 31px;
    width: 70px;
    border: none;
    border-radius: 0.2em;
}

.googlelogo, .googlesearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.googlelogo {
    margin-top: 100px;
}

.googlesearch {
    margin: 30px;
}

input[type=search] {
    width: 600px;
    height: 45px;
    border: 0.002em solid rgba(0, 0, 0, 0.116);
    border-radius: 3em;
    margin-bottom: 20px;
    padding-left: 50px;
    outline-style: hidden;
}

input[type=search]:focus {
    outline: none;
}

input[type=search]:hover {
    box-shadow: 1px 1px 1px 1px;
}

.searchbtn {
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

.btns {
    margin: 0 5px;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 0.5em;
}

#gicons {
    position: absolute;
    padding: 13px;
    min-width: 40px;
    color: grey;
    font-size: 1.2em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.747);
}